.contact {
	padding-top: 25px;
	background: $contact-background;
	color: white;

	
	
	.promo{
		font-size: 1.125em;
		margin-top: 15px;
		margin-bottom: 25px;
	}

	.col-2:first-child {
			display:flex;
			flex-direction: row;
			justify-content: center;		
	}

	.col-2:last-child {
			display:flex;
			flex-direction: row;
			justify-content: center;		
	}

	input,
	textarea {
		background-color: #273a71;
		border: none;
		border-radius: 5px;
	}
	
	input[type="text"],
	input[type="email"] {
		width: 77%;
		height: 50px;	
		padding-left: 30px;
	}
	
	

	.textarea {
		position: relative;
		margin-bottom: 35px;
	}

	
	textarea {	
		padding-top: 25px;
		padding-left: 30px;
		width: 78%;
		position: relative;
		height: 200px;
		margin-top: 10px;
		resize: none;
	}

	.textarea::after {
		content: "";
	  position: absolute;	 
	  background-repeat: no-repeat;
	  right: 12%;
	  bottom: 8%;
	  background: url("../img/sprite.png") no-repeat;
		background-position: -525px -1244px; 
		width: 11px; 
		height: 11px;
	}


	.btn-contact{
		width: 40%;
		height: 65px;
		margin: auto;		
		margin-bottom: 20px;
		background: #30bae7;
		border-bottom: 5px solid rgba(41,158,197,1);
		
		&:hover{
		border-bottom: 5px solid rgba(41,158,197,0.5);
		}	
	}
}

 
@media only screen and (min-width: 768px) {
.contact {
	padding-top: 110px;

	.promo{
		margin-bottom: 60px;
	}

	.btn-contact{
		width: 26%;		
		margin-bottom: 100px;		
	}

		.textarea::before {  
	  left: 28%;
	  top: 15%;
	}

		.placeholder-style > label {
    left: 15%;
	}

	.placeholder-style:nth-child(2) > label {
    left: 15%;   
	}

 }
}
 
@media only screen and (min-width: 992px) {
 .contact {
	.col-2:first-child {
			justify-content: flex-end;		
	}

	.col-2:last-child {
			justify-content: flex-start;		
	}

		.textarea::before {  
	  left: 26%;
	  top: 15%;	 
	}

	.placeholder-style > label {
    left: 31%;
    top: 35%; 
	}

	.placeholder-style:nth-child(2) > label {
    left: 7.5%;   
	}

 } 
}

@media only screen and (min-width: 1302px) {
	.textarea::before {  
	  left: 23%;
	  top: 15%;	 
	}

	.placeholder-style > label {
    left: 31%;
    top: 35%;
	}

	.placeholder-style:nth-child(2) > label {
    left: 7.5%;   
	}
}
