$header-background : #87509c;
$services-background : #17c2a4;
$team-background : #e7f1f8;
$skill-background : #ffffff;
$portfolio-background : #ffdd99;
$about-background : #d74680;
$contact-background : #3c5499;
$footer-background : #344b8e;


