<header class="header" id="home">
	<div class="row header-top">
		<div class="logo cols col-2"><a href="#"><img src="img/iq-hub-logo.png" alt="logo"></a></div>
		<div class="menu cols col-2">
			<ul>
				<li><a class="active" href="#home">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#portfolio">Work</a></li>
				<li><a href="#blog">Blog</a></li>
				<li><a href="#contact">Contact</a></li>
			</ul>
		</div>
	</div>
	<div class="row header-title">
		<div class="cols col-4">
			<h1>Hi there! We are the new kids on the block and we build awesome websites and mobile apps.</h1>
		</div>		
	</div>
	<div class="row header-btn">
	<div class="cols col-4">
		<a class="btn btn-header" href="#">WORK WITH US!</a>
	</div>
		
	</div>
	
</header>
