<section class="portfolio" id="portfolio">

	<div class="row">
		<div class="cols col-4">
			<h2>OUR PORTFOLIO</h2>
		</div>
	</div>

	<div class="row">
		<div class="cols col-4">
			<p class="promo">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam</p>
		</div>
	</div>

	<div class="row">
		<div class="cols col-4">
			<div class="portfolio-selector">
				<a class="btn-selector active" href="#">ALL</a>
				<a class="btn-selector" href="#">WEB</a>
				<a class="btn-selector" href="#">APPS</a>
				<a class="btn-selector" href="#">ICONS</a>			
			</div>
		</div>
	</div>

	<div class="row">
		<div class="cols col-2">
			<div class="portfolio-item">
				<div class="isometric portfolio-photo">	</div>
				<h3>Isometric Perspective Mock-Up</h3>
			</div>
		</div>
		<div class="cols col-2">
			<div class="portfolio-item">
				<div class="time portfolio-photo"></div>
				<h3>Time Zone App UI</h3>
			</div>
		</div>
	</div><!-- /row -->

	<div class="row">
		<div class="cols col-2">
			<div class="portfolio-item">
				<div class="media portfolio-photo"></div>
				<h3>Viro Media Players UI</h3>
			</div>
		</div>
		<div class="cols col-2">
			<div class="portfolio-item">
				<div class="ui portfolio-photo"></div>
				<h3>Blog / Magazine Flat UI Kit</h3>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="cols col-4">
			<a class="btn btn-portfolio" href="#">LOAD MORE PROJECTS</a>
		</div>
	</div>
</section>
