<section class="services">
	<div class="row">
		<div class="cols col-4">
			<h2>SERVICES WE PROVIDE</h2>
		</div>
	</div>
	<div class="row">
		<div class="cols col-4">
			<p class="promo">We are working with both individuals and businesses from all over the globe 
			to create awesome websites and applications.</p>
		</div>
	</div>
		<div class="service">
			<div class="row">
				<div class="cols col-1">
					<div class ="service-item">
						<a href="#" class="sprite flag"></a>
						<h3><a href="#">Branding</a></h3>
						<p><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</a></p>
					</div>
				</div>
				<div class="cols col-1">
					<div class ="service-item">
					<a href="#" class="sprite crayon"></a>
						<h3><a href="#">Design</a></h3>
						<p><a href="#">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</a></p>
					</div>
				</div>
				<div class="cols col-1">
					<div class ="service-item">
					<a href="#" class="sprite gears"></a>
						<h3><a href="#">Development</a></h3>
						<p><a href="#">At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentium.</a></p>
					</div>
				</div>
				<div class="cols col-1">
					<div class ="service-item">
					<a href="#" class="sprite rocket"></a>
						<h3><a href="#">Rocket Science</a></h3>
						<p><a href="#">Et harum quidem rerum est et expedita distinctio. Nam libero tempore.</a></p>
					</div>
				</div>
			</div>
		</div>
</section>    
