<section class="team">

	<div class="row">
		<div class="cols col-4">
			<h2>MEET OUR BEAUTIFUL TEAM</h2>
		</div>
	</div>

	<div class="row">
		<div class="cols col-4">
			<p class="promo">We are a small team of designers and developers, who help brands with big ideas.</p>
			</div>
	</div>

	<div class="row">
		<div class="cols col-1">
			<div class="team-item">
				<div class="team-photo">
					<img src="img/anne-hathaway.jpg" alt="ANNE HATHAWAY">
				</div>
				<h3>ANNE HATHAWAY</h3>
				<p class="team-position">CEO / Marketing Guru</p>
				<p class="item-details">Lorem ipsum dolor sit amet, 
					consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</p>
				<div class="team-social">
					<a class="team-social-btn facebook" href="#"></a>
					<a class="team-social-btn twitter" href="#"></a>
					<a class="team-social-btn linkedin" href="#"></a>
					<a class="team-social-btn mail" href="#"></a>
				</div>	
				<!-- /team-social -->		
			</div>
			<!-- /team-item -->
		</div>
	
		<div class="cols col-1">
			<div class="team-item">
				<div class="team-photo">
					<img src="img/kate-upton.jpg" alt="Kate Upton">
				</div>
				<h3>Kate Upton</h3>
				<p class="team-position">Creative Director</p>
				<p class="item-details">Duis aute irure dolor in in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat non diam proident.</p>
				<div class="team-social">					
					<a class="team-social-btn twitter" href="#"></a>
					<a class="team-social-btn linkedin" href="#"></a>
					<a class="team-social-btn mail" href="#"></a>
				</div>	
				<!-- /team-social -->		
			</div>
			<!-- /team-item -->
		</div>
	
		<div class="cols col-1">
			<div class="team-item">
				<div class="team-photo">
					<img src="img/Olivia-Wilde.jpg" alt="Olivia Wilde">
				</div>				
				<h3>Olivia Wilde</h3>
				<p class="team-position">Lead Designer</p>
				<p class="item-details">Nemo enim ipsam voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem nesciunt.</p>
				<div class="team-social">
					<a class="team-social-btn facebook" href="#"></a>
					<a class="team-social-btn twitter" href="#"></a>
					<a class="team-social-btn linkedin" href="#"></a>
					<a class="team-social-btn mail" href="#"></a>
				</div>	
				<!-- /team-social -->		
			</div>
			<!-- /team-item -->
		</div>

		<div class="cols col-1">
			<div class="team-item">
				<div class="team-photo">
					<img src="img/Ashley-Greene.jpg" alt="Ashley Greene">
				</div>
				<h3>Ashley Greene</h3>
				<p class="team-position">SEO / Developer</p>
				<p class="item-details">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
				<div class="team-social">
					<a class="team-social-btn facebook" href="#"></a>
					<a class="team-social-btn twitter" href="#"></a>					
					<a class="team-social-btn mail" href="#"></a>
				</div>	
				<!-- /team-social -->		
			</div>
			<!-- /team-item -->
		</div>
	</div>
</section>